<h3>My articles</h3>
<hr/>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  <div *ngFor="let article of articleResponse" class="article-item">
    <h3 class="article-title">{{ article.title }}</h3>
    <p class="article-topic">{{ article.topic }}</p>
    <div class="d-flex gap-2">

      <a [href]="article.url" target="_blank" class="btn btn-primary">
        <i class="fas fa-book"></i> Read on..
      </a>

      <button class="btn btn-danger" (click)="archiveArticle(article.id)">
        <i class="fas fa-archive"></i> Archive article
      </button>
      <button
        (click)="deleteArticle(article.id)"
        class="btn btn-danger"
        title="Delete this article"
      >
        Delete
      </button>

    </div>
  </div>
</div>
