<h3>Articles</h3>
<hr />
<div class="d-flex justify-content-start gap-2 flex-wrap">
  <div
    *ngFor="let article of articleResponse"
    class="article-item"
    [id]="'article-' + article.id"
  >

  <h3 class="article-title">{{ article.title }}</h3>
    <p class="article-topic">
      Topic ID: {{ article.topicId ? article.topicId : 'Not assigned' }}
    </p>
    <div class="d-flex gap-2">
      <a [href]="article.url" target="_blank" class="btn btn-primary">
        <i class="fas fa-book"></i> Read on..
      </a>

      <button class="btn btn-warning" (click)="archiveArticle(article.id)">
        <i class="fas fa-archive"></i> Archive article
      </button>

      <button
        class="btn btn-danger"
        (click)="deleteArticle(article.id)"
        title="Delete this article"
      >
        <i class="fas fa-trash"></i> Delete
      </button>

      <button
        class="btn btn-success"
        (click)="openAttachDialog(article)"
        title="Attach article to topic"
      >
        <i class="fas fa-link"></i> Attach to Topic
      </button>
    </div>
  </div>
</div>
