<div class="learning-path-container">
  <div class="form-container">
    <h2>Create Learning Path</h2>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="newLearningPath.title"
        placeholder="Enter learning path title"
        class="form-input"
      />
    </div>
    <div class="form-group">
      <textarea
        [(ngModel)]="newLearningPath.description"
        placeholder="Enter learning path description"
        class="form-textarea"
      ></textarea>
    </div>
    <button (click)="createLearningPath()" class="btn primary-btn">Create</button>
  </div>

  <!-- Список Learning Paths -->
  <div class="learning-path-list">
    <h2>Learning Paths</h2>
    <div *ngFor="let path of learningPaths" class="learning-path-card">
      <!-- Заголовок и описание -->
      <div class="card-header">
        <input
          type="text"
          [(ngModel)]="path.title"
          placeholder="Edit title"
          class="card-input"
          (blur)="updateLearningPathTitle(path.id, path.title)"
        />
        <textarea
          [(ngModel)]="path.description"
          placeholder="Edit description"
          class="card-textarea"
          (blur)="updateLearningPathDescription(path.id, path.description)"
        ></textarea>
      </div>

      <!-- Раздел тем -->
      <div class="topics-container">
        <h3>Topics</h3>
        <button
          (click)="loadAllAttachedTopics(path.id)"
          class="btn secondary-btn"
        >
          Load Topics
        </button>
        <ul class="topics-list">
          <!-- Отображение тем, привязанных к текущему Learning Path -->
          <li *ngFor="let topic of path.topics">
            <a
              (click)="onTopicClick(topic.id)"
              class="topic-link"
              title="View articles for this topic"
            >
              {{ topic.name }}
            </a>
          </li>
        </ul>

        <!-- Добавление новой темы -->
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="path.newTopicPath"
            placeholder="Enter topic path: math/algebra"
            class="form-input"
          />
        </div>
        <button (click)="createTopicPath(path.id)" class="btn primary-btn">
          Add Topic Path
        </button>
      </div>

      <!-- Действия -->
      <div class="actions">
        <button
          (click)="deleteLearningPath(path.id)"
          class="btn danger-btn"
        >
          Delete
        </button>
        <!-- Кнопка визуализации -->
        <button
          (click)="onVisualizationClick(path.id)"
          class="btn visualization-btn"
        >
          Visualization
        </button>
      </div>
    </div>
  </div>
</div>
