<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">MLF</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="my-articles">
            <i class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-article">
            <i class="fas fa-book"></i>&nbsp;Create an article
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="learning-path">
            <i class="fa-solid fa-truck-fast"></i>&nbsp;Learning path
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="archived-articles">
            <i class="fas fa-list-check"></i>&nbsp;Archived articles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">
            <i class="fas fa-list-check"></i>&nbsp;About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="visualize-by-learningPath">
            <i class="fas fa-list-check"></i>&nbsp;Visualization
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" role="search">
        <input class="form-control" type="search" placeholder="Find an article" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        <span>Welcome to</span>
        <span class="text-capitalize fw-bold">MLF</span>
        <button class="btn btn-link" type="button" (click)="logout(token)">
          <i class="fas fa-door-open"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
