<div *ngIf="topicsArray.length > 0; else noData">
  <div *ngFor="let topic of topicsArray" class="topic-card">
    <h2>{{ topic.name }}</h2>
    <div class="articles">
      <div *ngFor="let article of topic.articles" class="article-card">
        <h3>{{ article.title }}</h3>
        <a [href]="article.url" target="_blank">Перейти к статье</a>

        <!-- Выбор приоритета с помощью радиокнопок -->
        <div class="priority-selection">
          <label *ngFor="let p of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              [value]="p"
              [(ngModel)]="article.priority"
              name="priority-{{ article.id }}"
            />
            {{ p }}
          </label>
        </div>
      </div>
    </div>

    <button (click)="savePriorities(topic.name)">Сохранить приоритет</button>
    <button (click)="visualizeTopic(topic.name)">Визуализировать</button>
  </div>
</div>

<ng-template #noData>
  <p>No data here.</p>
</ng-template>


